@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import "tailwindcss";

.rotating-container {
  color: --secondary;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 1.2;
}

#flip {
  height: 70px;          /* Increased height */
  overflow: hidden;
  display: inline-block;
}

#flip > div > div {
  background: #000;       /* Black background */
  color: #fff;            /* White text */
  padding: 10px 20px;     /* More padding for emphasis */
  height: 60px;
  margin-bottom: 60px;    /* Match height for smooth animation */
  display: inline-block;
  border-radius: 6px;     /* Optional: slight rounding */
}

#flip div:first-child {
  animation: show 6s linear infinite;
}

@keyframes show {
  0% {margin-top:-240px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-120px;}
  66% {margin-top:-120px;}
  71% {margin-top:-60px;}
  99.99% {margin-top:-60px;}
  100% {margin-top:-240px;}
}
img{
    border-radius: 50%;
    height:40px;
    width: 40px;
    object-fit: cover;
    
}